.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.clear { clear:both; }

/* JQUERY MOBILE FIXES */
.ui-btn-active-2 {
	background-color: #FAE173 !important;
	border-color: #FAE173 !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #059 !important;
}

/*ICONS*/
.dollar_icon { 
	margin-left:10px;
	height:40px; width:40px; float:right;
	background:url('../images/icons/cost.png') top left no-repeat;
	font-size:22px;
	padding-left:15px;
	padding-top:10px;
	font-family: 'familiar_probold';
}
.icon {
	height:48px; width:60px;
}
.icon-book {
	background: url("../images/icons/base_icons.png") -9px -157px no-repeat;
}
.icon-home {
	background: url("../images/icons/base_icons.png") -78px -157px no-repeat;
}
.icon-search {
	background: url("../images/icons/base_icons.png") -150px -157px no-repeat;
}
.icon-chef {
	height:54px;
	background: url("../images/icons/base_icons.png") -223px -153px no-repeat;
}
.icon-dashboard {
	height:70px;
	width:72px;
	background: url("../images/icons/base_icons.png") -288px -147px no-repeat;
}

.green_button { background:#2b8c00 !important; color:#FFF !important; text-shadow:none !important; cursor:default !important; }
.green_button:hover { text-decoration:none !important; }
/*Errors*/
.error_box { padding:20px 5px; text-align:center; }
.error_box p { font-weight:bold; text-align:center; }
.error_box p a[data-role="button"] { margin-left:auto; margin-right:auto; }
.error_box div { margin-left:auto; margin-right:auto; }