/**
 * Provides physical structure for the application
 */
 
html, body { margin:0; background:rgb(145,134,108); }
 
div[data-role="header"] {
	padding:3x;
	background: rgb(185,176,151) !important;
	border-bottom:none !important;
}
div[data-role="footer"] {
	background: rgb(185,176,151) !important;
}
div[data-role="footer"] a { background:transparent; }

div[data-role="header"] h1 {
	margin:1px auto;
	font-size:20px !important; 
	text-transform:uppercase;
	text-align:right;
	color:rgb(66,60,45);
}

div.heading_block {
	padding:10px;
	text-align:right;
	background:rgb(225,219,190);
	margin:10px 0 0;
}
div.heading_block span {
	font-size:20px;
	text-transform:uppercase;
}

div.content_block {
	margin-top:10px;
	background:rgb(225,219,190);
}

/* Feed Specific Items*/
div.user_block { padding:0; margin:0; }
div.user_block span { float:left; }
div.user_block img { height: 50px; width:50px; float:left; }
div.feed_image { max-height:300px; max-width:500px; width:100%; height:300px; }
div.feed_image img { height:100%; width:100%; }

/**
 * Navigation related
 */
 
/* Drop down menu */
#dropdown_menu { display:none; position:absolute; top:51px; left:0px; background:#FFF; height:auto; width:200px; z-index:2000; }
#dropdown_menu ul li { background: rgb(247,246,236); font-size:16px; border-bottom:1px solid rgb(78,71,58); border-top:none; }
#dropdown_menu ul li a { padding-left:10px; color:rgb(83,76,63); }